.AppDiv{
    width: 90%;
    margin: 0 auto;
}

.SearchDivWrap{
    width: 90%;
    margin: 1% auto;
}

.SearchDiv input{
    border: 1px solid #D0D5DD;
    border-radius: 35px;
}

.SearchDiv *{
    border-radius: 35px;
}

.Tabs{
    font-family: 'Stolzl';
}

.ChatPage{
    max-height: 100vh;
    overflow: hidden;
}

.Tag{
    background-color: #4164EE;
    color: #FEFEFE;
    font-family: 'Inter';
    font-size: 15px;
    padding: 1%;
    border-radius: 20px;
}

.Tag:hover{
    background-color: #314bb5;
}