.AppDiv{
    width: 90%;
    margin: 0 auto;
}

.SearchDivWrap{
    width: 90%;
    margin: 1% auto;
}

.SearchDiv input{
    border: 1px solid #D0D5DD;
    border-radius: 35px;
}

.SearchDiv *{
    border-radius: 35px;
}

.Tabs{
    font-family: 'Stolzl';
}