
.AvatarImg{
    width: 200px;
    height: 200px;
    background-color: #14004B;
    display: block;
}

.AvatarWrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.FormFull{
    width: 562px;
    height: 32px;
}

.FormDiv{
    width: 350px;
}

.FormDiv input{
    width: 100%;
}
