.PrimaryButton{
    background: #4164EE;
    border-radius: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FEFEFE;
    padding: 16px 140px;
    border: none;
}

.PrimaryButton:hover{
    background: #293f99;
}

.PrimaryButton:active{
    background: #19275e;
}

.Button{
    background: #4164EE;
    border-radius: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FEFEFE;
    padding: 8px 30px;
    border: none;
}

.Button:hover{
    background: #293f99;
}

.Button:active{
    background: #19275e;
}

.BtnWrap{
    display: flex;
    justify-content: space-between;
}

.MainBtn{
    width: 48%;
    background-color: #4164EE;
    border-radius: 30px;
    padding: 1%;
    color: #FEFEFE;
    font-family: 'Stolzl';
}

.MainBtn:hover{
    background-color: #293f99;
}

.MainBtn:active{
    background-color: #19275e;
}