body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Stolzl";
  src: local("StolzlRegular"),
   url("./assets/fonts/stolzl_regular.otf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Stolzl";
  src: local("StolzlMedium"),
   url("./assets/fonts/stolzl_medium.otf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Stolzl";
  src: local("StolzlBold"),
   url("./assets/fonts/stolzl_bold.otf") format("truetype");
  font-weight: 700;
}
